
*.png
segmenter/__pycache__/outputs.cpython-38.pyc
.vscode/settings.json
log.out
log_retiled_1.out
log_retiled_binary.out
log_retiled_drop.out
log_retiled_noweight.out
removed_bg.txt
scripts/__pycache__/context.cpython-37.pyc
scripts/__pycache__/context.cpython-38.pyc
segmenter/__pycache__/data.cpython-37.pyc
segmenter/__pycache__/data.cpython-38.pyc
segmenter/__pycache__/multires_unet.cpython-37.pyc
segmenter/__pycache__/multires_unet.cpython-38.pyc
segmenter/__pycache__/outputs.cpython-37.pyc
segmenter/__pycache__/tile_images.cpython-37.pyc
segmenter/__pycache__/unet_model.cpython-37.pyc
segmenter/__pycache__/unet_model.cpython-38.pyc
